---
title: Home
layout: page
permalink: /
---

<section>
  <h1>Сиганов Илья</h1>

  <p>
    Тимлид в <a href="https://7bits.it">7bits</a>. Создаю высоконагруженные Веб-сервисы. Пишу на go, c++, nodejs, python, kotlin.
  </p>

  <p>
    Читаю лекции в <a href="https://omsu.ru/">ОмГУ</a> по алгоритмам, машинному обучению, комп. графике.
    Преподавал разработку игр в <a href="http://itlift.1der.link/">IT-Lift</a>.
  </p>

  <p>Организую <a href="/org/omsky-gamedev">Игровой ЧИТверг</a> - сообщество разработчиков игр.
    И <a href="/org/oml">OML</a> - клуб Машинного обучения в Омске.</p>

  <p>Регулярно участвую в хакатонах по разработке игр Ludum Dare, GMTK, Mini Jam, как команда CAT_IN_THE_DARK.</p>

  <p>Интересы: распределенные системы, concurrency, нейросети, разработка игр, языки программирования, преподавание, организация событий.</p>

</section>

<hr></hr>

<section>
  <h2>Недавние заметки</h2>

  {% set postslist = collections.post | head(-5) %} {%- for entry in postslist | reverse -%}
    <div>
      <div class="post-title"><a href="{{ entry.url | url }}">{{ entry.data.title }}</a></div>
      <div class="post-meta"><span>{{ entry.date | readableDate }}</span></div>
    </div>
  {%- endfor -%}
</section>

<hr></hr>

<section>
  <h2>Недавние выступления</h2>
  {% set talkslist = collections.talk | head(-5) %} {%- for entry in talkslist | reverse -%}
    <div>
      <div class="post-title"><a href="{{ entry.url | url }}">{{ entry.data.title }}</a></div>
      <div class="post-meta"><span>{{ entry.date | readableDate }}</span></div>
    </div>
  {%- endfor -%}
</section>

<hr></hr>

<section>
  <h2>Курсы</h2>

  <div>
    <a href="https://algo.senior-sigan.ru">Алгоритмизация и программирование</a>
  </div>
  <div>
    <a href="https://github.com/senior-sigan/omsu_ml">Введение в машинное обучение</a>
  </div>
  <div>
    <a href="https://senior-sigan.notion.site/C-C-Programming-7431bef282dc4935ac8112b6c8189099">Основы
      программирования C/C++</a>
  </div>
  <div>
    <a href="https://github.com/7bits/ml-courses-7bits">Курсы по ML от 7bits|IT-lift</a>
  </div>
  <div>
    <a href="https://senior-sigan.github.io/fcs-programming-technology/">Python программирование</a>
  </div>
</section>
