---
title: Notes
layout: page
permalink: /notes/
---

<h1>Заметки</h1>

{% set postslist = collections.post %}
{% if postslist | length %}
    {%- for post in postslist | reverse -%}
    <div>
        <div class="post-title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></div>
        <div class="post-meta"><span>{{ post.date | readableDate }}</span></div>
    </div>
    {%- endfor -%}
{% else %}
{% endif %}