---
title: Talks
layout: page
permalink: /talks/
---

<h1>Выступления</h1>

{% set collection = collections.talk %}
{% if collection | length %}
{%- for post in collection | reverse -%}
<div>
    <div class="post-title"><a href="{{ post.url | url }}">{{ post.data.title }}</a></div>
    <div class="post-meta"><span>{{ post.date | readableDate }}</span></div>
</div>
{%- endfor -%}
{% else %}
{% endif %}