---
title: Teaching
layout: page
permalink: /teaching/
---

<h1>Курсы</h1>

<ul>
  <li><a href="https://algo.senior-sigan.ru">Алгоритмизация и программирование</a></li>
  <li><a href="https://github.com/senior-sigan/omsu_ml">Введение в машинное обучение</a></li>
  <li><a href="https://senior-sigan.notion.site/C-C-Programming-7431bef282dc4935ac8112b6c8189099">Основы
    программирования C/C++</a></li>
  <li><a href="https://github.com/7bits/ml-courses-7bits">Курсы по ML от </a><a href="https://7bits.it/">7bits</a>|<a href="https://courses.itlft.ru/">IT-lift</a></li>
  <li><a href="https://senior-sigan.github.io/fcs-programming-technology/">Python программирование</a></li>
</ul>  
