{{ define "main"}}

<main>
    <header class="article-header">
        <h1>{{ .Title | markdownify }}</h1>
        <address>
            <a rel="author">{{ .Site.Params.author }}</a>
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
        </address>
    </header>
    <article>
        {{/*  Durty fix to remove p around img to pass telegram-instance-view test  */}}
        {{ $reAltIn := "<p><img src=\"([^\"]+)\" alt=\"([^\"]+)\"></p>" }}
        {{ $reAltOut := "<figure><img src=\"$1\" alt=\"$2\"><figcaption>$2</figcaption></figure>" }}
        {{ .Content | replaceRE $reAltIn $reAltOut | safeHTML }}
    </article>
</main>

{{ partial "telegram_discuss.html" }}

{{ end }}