<head>
    {{ $description := .Params.description}}
    {{if .IsHome}}
    {{ $description = .Site.Params.description}}
    {{end}}

    <meta charset="UTF-8">
    <title>{{.Title}}</title>

    {{if .Params.canonicalUrl}}
    <link rel="canonical" href="{{.Params.canonicalUrl}}" />
    {{end}}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ $description }}">

    <meta property="og:site_name" content="{{ .Title }}">

    <!-- favicon -->
    {{ if .Site.Params.favicon }}
    <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
    {{ end }}

    {{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

    <meta property="og:description" content="{{ $description }}" />
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content='{{ .Page.Lastmod.Format "2006-01-02T15:04:05" }}'>
    <meta property="article:author" content="TODO">
    <meta property="og:url" content="TODO" />
    <meta property="og:image" content="TODO">
</head>