{% extends "base.html" %}

{% block content %}

<article>
  <div>
    <h1>{{ page.title }}</h1>
    {%if page.date %}
    <time datetime="{{ page.date_iso8601 }}">
      Created on {{ page.date.strftime("%b %e, %Y") }}
    </time>
    {% endif %}
  </div>

  <div id="notes-entry-container">
    <content>
      {{ page.html|safe }}
    </content>

    {% include 'includes/backlinks_side.html' %}

  </div>
</article>

<hr>

<p>Here are all the notes in this garden, along with their links, visualized as a graph. <i>(Use ctrl + scroll to zoom
    in-out)</i></p>

{% include 'includes/notes_graph.html' %}

{% endblock %}